#counter_closing{
    background: #E4EFE7;
    padding-top: 150px;
    min-height: 1000px;
    padding-bottom: 300px;
    position: relative;
    img.hero{
        margin-top: 120px;
        position: absolute;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        max-width: 448.28px;
        width: 50%;

    }
    .headingtitle{
        margin-left: 140px;
        .text1{
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 35px;
            letter-spacing: 0.03em;
            color: #000000;
        }
        .text2{
            margin-top: 15px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 800;
            font-size: 60px;
            line-height: 70px;
            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
            color: #000000;
        }
    }
    .cd_timer{
        margin: 200px auto 0 auto;
        text-align: center;
        .cd_container{
            display: inline-block;
            background-color: #000000;
            padding: 14px 35px;
            margin: 0 11px;
            border-radius: 22px;
            .time{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 900;
                font-size: 50px;
                line-height: 75px;
                text-align: center;
                color: #FFFFFF;
            }
            .time_text{
                margin-top: 3px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #A5DEFF;
            }
        }
    }
    .text3{
        margin: 0 auto;
        margin-top: 123px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 35px;
        letter-spacing: 0.03em;
        color: #000000;
        text-align: center;
    }
    .container{
        position: relative;
        img.topright{
            position: absolute;
            right: 0;
        }
        img.bottomleft{
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }

}