#herodetailcompetition {
    position: relative;
    height: 1175px;
    background: rgba(253, 246, 236, 1);
    z-index: 0;
    .title {
        padding-top: 138px;
    }

    a#back {
        z-index: 4;
        color: #000000;
        text-decoration: none;
        background: #F3CE64;
        border: 3px solid #F28C25;
        display: inline-block;
        padding: 17px 21px;
        transition: 200ms;
        border-radius: 35px;
    }

    a#back:hover {
        background-color: #F28C25;
    }

    a#back:after {
        font-family: 'FontAwesome', sans-serif;
        font-weight: 300;
        content: "\f060";
        color: white;
        font-size: 28px;
        vertical-align: middle;
        transition: color 200ms;
    }

    a#back:hover:after {
        color: white;
    }

    span {
        margin-left: 20px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 29px;
        letter-spacing: 0.03em;
        color: #000000;
    }

    .container .maininformation {
        text-align: center;

        img {
            width: 70%;
            margin-top: 35px;

        }

        .maintitle {
            margin-top: 48px;
            font-family: 'Abril Fatface';
            font-style: normal;
            font-weight: 400;
            font-size: 50px;
            line-height: 67px;
            text-align: center;
            letter-spacing: 0.03em;
            color: #000000;
            z-index: 2;
        }

        .desc {
            z-index: 2;
            margin: 25px auto 0px auto;
            max-width: 950px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 300;
            font-size: 25px;
            line-height: 30px;
            letter-spacing: 0.03em;
            color: #000000;

        }
    }

    .left {
        position: absolute;
        top: 50%;
        z-index: -1;
    }

    .right {
        position: absolute;
        top: 158px;
        right: 100px;
        z-index: -1;

    }

    a {
        text-decoration: none;
      }
  
      .-btnregister {
        display: flex;
        justify-content: center;
        width: 201px;
        height: 64px;
        border-radius: 12px;
        background: #CE6256;
        border: 3px solid #8B0002;
        border-radius: 30px;
        margin-top: 55px;
        box-shadow: 5px 5px black;
        transition: 0.4s;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.03em;
        color: #FFFFFF;
      }
  
      .-btnregister:hover {
        background: #8B0002;
      }

      .-btnguidebook {
        display: flex;
        justify-content: center;
        width: 250px;
        height: 64px;
        border-radius: 12px;
        background: #FFFFFF;
        border: 3px solid black;
        border-radius: 30px;
        margin-top: 55px;
        box-shadow: 5px 5px black;
        transition: 0.4s;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.03em;
        color: black;
      }
  
      .-btnguidebook:hover {
        background: rgba(217, 217, 217, 1);
        color: black;
      }


}