html {
  scroll-behavior: smooth;
}

#goup {
  height: 82px;
  width: 82px;
  position: fixed;
  bottom: 33px;
  right: 100px;
  z-index: 11;
  background: url(../assets/goup.svg) no-repeat;
  transition: 0.4s;
}

#goup:hover {
  background: url(../assets/goupHover.svg);
}

#hero {
  // height: 1100px;
  padding-bottom: 27%;
  width: 100%;
  background: #E4E4DE;
  text-align: justify;
  position: relative;
  .homemainhero{
    position: absolute;
    margin: auto 0;
    top: 0;
    bottom: 0;
    max-width: 50%;
    right: 0;
  }
  .margin{
    bottom: -350px;
    position: absolute;
    height: 720;
    width: 100%;
    z-index: 0;
    background: url("../assets/marginmainpage.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  @media (max-width: 992px) {
    .margin {
      height: 480px;
      bottom: -230px;
    }
  }
  @media (max-width: 576px) {
    .margin {
      height: 200px;
      bottom: -90px;
    }
  }
  
  .row {
    padding-top: 150px;

    #hero1 {
      max-width: 696px;
      width: 90%;
    }

    .text {
      width: 255px;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 300;
      font-size: 25px;
      line-height: 35px;
      letter-spacing: 0.03em;
      color: #000000;
    }

    a {
      text-decoration: none;
    }

    .-btn {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 280px;
      height: 80px;
      border-radius: 12px;
      background: #CE6256;
      border: 3px solid #8B0002;
      border-radius: 30px;
      margin-top: 40px;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.03em;
      color: #FFFFFF;
      box-shadow: 5px 5px black;
      transition: 0.4s;
      position: absolute;
    }

    .-btn:hover {
      background: #8B0002;

    }
    #hero2 {
      max-width: 40%;
      position: absolute;
      width: 100%;
      right: 0px;
      margin: 0 auto;
    }
  }

  .heromargin {
    width: 100%;
    margin-top: 50px;
    position: absolute;
  }
}

#whatiss {
  background: #FDF6EC;

  .whatisheader .row {
    padding-top: 180px;

    #whatishero {
      width: 100%;
    }

    .col-7 {
      margin-top: 180px;
      padding-left: 60px;

      .title1 {
        font-family: 'Abril Fatface';
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        line-height: 61px;
        letter-spacing: 0.03em;
        color: #8F2031;
      }

      .title2 {
        font-family: 'Abril Fatface';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 34px;
        letter-spacing: 0.03em;
        color: #CC6601;
      }

      .desc {
        margin-top: 45px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 40px;
        text-align: justify;
        letter-spacing: 0.05em;
        color: #000000;
        max-width: 656px;
        width: 100%;
      }

      .-btn {
        margin-top: 97px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        width: 230px;
        height: 59px;
        border-radius: 12px;
        background: #CE6256;
        border: 3px solid #8B0002;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        border-radius: 30px;
        box-shadow: 5px 5px black;
        transition: 0.4s;
      }

      .-btn:hover {
        background: #8B0002;

      }
    }
  }


  .row.whatisfooter {
    margin-top: 261px;
    height: 50px
  }

  #left {
    position: absolute;
    left: 0;
    margin-top: -160px;
  }

  #right {
    position: absolute;
    right: 0;
    margin-top: -374px;
  }
}

#ouractivities {
  background: #F9ECEC;
  padding-bottom: 220px;

  .title {
    padding-top: 98px;
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 61px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
    text-align: center;
    width: 100%;
  }

  .row {
    margin-top: 98px;

    .frame1,
    .frame2,
    .frame3 {
      border: 0px solid #000000;
      max-width: 385px;
      width: 100%;
      padding-top: 130%;
      transition: 00.4s;
      background-size: contain !important;
      background-repeat: no-repeat;
    }

    .frame1:hover,
    .frame2:hover,
    .frame3:hover {
      max-width: 385px;
      height: 510px;
      width: 100%;
      cursor: pointer;
      background-size: contain !important;
      background-repeat: no-repeat;
    }

    .frame1 {
      background: url("../assets/webiarIcon.svg") no-repeat;
    }

    .frame1:hover {
      background: url("../assets/webiarIconHover.svg") no-repeat;
    }

    .frame2 {
      background: url("../assets/competitionIcon.svg") no-repeat;
    }

    .frame2:hover {
      background: url("../assets/competitionIconHover.svg") no-repeat;
    }

    .frame3 {
      background: url("../assets/closingIcon.svg") no-repeat;
    }

    .frame3:hover {
      background: url("../assets/closingIconHover.svg") no-repeat;
    }
  }

  .footerimage {
    right: 50px;
    position: absolute;
    width: 130px;
  }
}

#civixline {
  background: url("../assets/civixLineGreen.svg");
  object-fit: fill;
  height: 44px;
  background-position: center;
}

#cipomaskot {
  height: 1096px;
  background: #DCF2D6;
  position: relative;

  .title {
    padding-top: 98px;
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 61px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
    width: 100%;
  }

  .leftornamen {
    background: url("../assets/leftOrnamen.svg");
    background-repeat: no-repeat;
    padding-left: 354px;
    padding-top: 945px;
    position: absolute;
    bottom: 0px;
    background-size: cover;
  }

  .rightornamen {
    background: url("../assets/rightOrnamen.svg");
    background-repeat: no-repeat;
    padding-left: 356px;
    padding-top: 935px;
    position: absolute;
    right: 0px;
    bottom: 67px;
    background-size: cover;

  }

  .linetengah {
    background: url("../assets/lineTengah.svg");
    object-fit: fill;
    height: 144px;
    background-position: center;
    margin-top: 450px;
  }

  .cipomaskot {
    position: absolute;
    background-repeat: no-repeat;
    max-width: max-content;
    width: 50%;
    margin: 0 18%;
    padding-top: 200px;
    z-index: 1;
  }

  .decs {
    width: 424px;
    right: 98px;
    top: 700;
    position: absolute;
    z-index: 2;

    .title {
      text-align: right;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 800;
      font-size: 50px;
      line-height: 59px;
      letter-spacing: 0.01em;
      color: #000000;
    }

    .body {
      margin: 0;
      text-align: right;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 30px;
      letter-spacing: 0.01em;
      color: #000000;

      a {
        color: #546419;
        text-decoration: none;
      }

      a:hover {
        color: #EFDC70;
        ;
      }
    }
  }
}

#flashfrom {
  height: 1052px;
  background: url("../assets/bgflashfrompast.svg");
  position: relative;

  .aside {
    position: absolute;
    right: 0px;
  }

  .title {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 61px;
    letter-spacing: 0.03em;
    color: #000000;
    padding-top: 192px;
  }

  body {
    font-family: sans-serif;
    color: transparent;
  }

  .gallery {
    text-align: left;
    padding: 65px 62px 102px 63px;
  }

  .gallery-cell {
    width: 380px;
    height: 354px;
    margin-right: 40px;

    border: #fff solid 3px;
    border-radius: 20px;
  }

  .img1 {
    background: url("../assets/flashfrompast/1.JPG");

    background-size: cover;
  }
  .img2 {
    background: url("../assets/flashfrompast/2.JPG");

background-size: cover;  }
  .img3 {
    background: url("../assets/flashfrompast/3.JPG");

background-size: cover;  }
  .img4 {
    background: url("../assets/flashfrompast/4.JPG");

background-size: cover;  }
  .img5 {
    background: url("../assets/flashfrompast/5.JPG");

background-size: cover;  }
  .img6 {
    background: url("../assets/flashfrompast/6.JPG");

background-size: cover;  }
  .img7 {
    background: url("../assets/flashfrompast/7.JPG");

background-size: cover;  }
  .img8 {
    background: url("../assets/flashfrompast/8.JPG");

background-size: cover;  }
  .img9 {
    background: url("../assets/flashfrompast/9.JPG");

background-size: cover;  }
  .img10 {
    background: url("../assets/flashfrompast/10.JPG");
    background-size: cover;
  }
  .img11 {
    background: url("../assets/flashfrompast/11.JPG");
    background-size: cover;
  }
  .img12 {
    background: url("../assets/flashfrompast/12.JPG");
    background-size: cover;
  }
  .img13 {
    background: url("../assets/flashfrompast/13.JPG");
    background-size: cover;
  }
  .img14 {
    background: url("../assets/flashfrompast/14.JPG");
    background-size: cover;
  }
  .img15 {
    background: url("../assets/flashfrompast/15.JPG");
    background-size: cover;
  }
  .img16 {
    background: url("../assets/flashfrompast/16.JPG");
    background-size: cover;
  }

  /* cell number */
  .gallery-cell:before {
    display: block;
    // text-align: center;
    line-height: 200px;
    font-size: 80px;
  }
}

#sponsorship {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 9.65%);
  top: -200px;
  height: 930px;
  position: relative;
  width: 100%;
  padding-top: 10px;

  .title {
    // margin-top: 3px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
  }

  .header {
    margin-top: 108px;
    width: 100%;
  }

  .title {
    position: absolute;
    margin: auto;
    padding: 15px 40px;
    background: #EFDC70;
    border: 3px solid #000000;
    border-radius: 50px;
  }

  .slider {
    margin-top: 249px;

    img {
      width: 200px;
      margin-right: 60px;
      -webkit-animation: scroll 60s infinite;
      -moz-animation: scroll 60s infinite;
      animation: scroll 60s linear infinite;
    }

    .slide-track {
      width: 100%;
      display: flex;
      gap: 3em;
      overflow: hidden;
    }

    .slider {
      background-color: whitesmoke;
      padding: 8em 2em;
    }

    @keyframes scroll {
      0% {
        transform: translateX(0);
      }

      100% {
        transform: translatex(-1000%)
      }
    }
  }

  .footer {
    text-align: center;
    .header {
      width: 100%;

      #mainlogo {
        // margin-top: 145px;
        width: 288px;
        z-index: 3;
      }
    }

    .decs {
      padding-top: 50px;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.03em;
      color: #000000;
      background-color: transparent;
      z-index: 3;
    }
  }
  .social-menu{
    position: relative;
  }

  .social-menu ul {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 0;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 2;
  }

  .social-menu ul li {
    list-style: none;
    margin: 0 15px;
  }

  .social-menu ul li .fab {
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: #000;
  }

  .social-menu ul li .fab:hover {
    color: #fff;
  }

  .social-menu ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    transition: .6s;
    background-color: white;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .5);

  }

  .social-menu ul li a:hover {
    transform: translate(0, -10%);
  }

  .social-menu ul li:nth-child(1) a:hover {
    background-color: #0077b5;
  }

  .social-menu ul li:nth-child(2) a:hover {
    background-color: #4267B2;
  }

  .social-menu ul li:nth-child(3) a:hover {
    background-color: #0072b1;
  }

  .social-menu ul li:nth-child(4) a:hover {
    background-color: #000;
  }

  .social-menu ul li:nth-child(5) a:hover {
    background-color: #fb3958;
  }

  .social-menu ul li:nth-child(6) a:hover {
    background-color: #FF0000;
  }

  .ornamen1 {
    position: absolute;
    left: -500px;
    bottom: -300px;
    z-index: 1;
  }

  .ornamen2 {
    width: 50%;
    position: absolute;
    left: 25%;
    bottom: -50%;
    z-index: 1;
  }

  .ornamen3 {
    position: absolute;
    right: 0px;
    bottom: -300px;
    z-index: 1;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 101;
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  transition: 1.4s;

  .col-8.isimodal {
    background: rgba(255, 255, 255, 0.78);
    border-radius: 50px;
    height: 50%;
    padding: 58px 80px;
    margin-top: 150px;
    transition: 1.4;

    .title {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 800;
      font-size: 50px;
      line-height: 59px;
      align-items: center;
      letter-spacing: 0.01em;
      color: #000000;
    }

    .desc {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 30px;
      align-items: center;
      letter-spacing: 0.01em;
      color: #000000;

      .yellow {
        color: #EDB52B;
      }
    }
  }
}

/* The Close Button */
.close {
  color: rgba(84, 100, 25, 1);
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 50%;
  border: 3px rgba(84, 100, 25, 1) solid;
}

.close:hover,
.close:focus {
  border: 3px #EDB52B solid;
  color: #EDB52B;
  text-decoration: none;
  cursor: pointer;
}