#hero {
    height: 982px;
    width: 100%;
    background: #E4E4DE;
    text-align: justify;
    position: relative;
    .row {
        padding-top: 190px;

        #hero1 {
            max-width: 696px;
            width: 90%;
        }
        .text{
            width: 255px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 300;
            font-size: 25px;
            line-height: 35px;
            letter-spacing: 0.03em;
            color: #000000;
        }
        a {
            text-decoration: none;
          }
          
          .-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 216px;
            height: 56px;
            text-align: center;
            border-radius: 12px;
          }
          
          .-btn:hover {
            opacity: .8;
          }
          
          .-bg {
            background: #1c449b;
          }
          
          .-txt {
            color: #fff;
          }
        #hero2 {
            max-width: 50%;
            position: absolute;
            width: auto;
            right: 0px;
            margin: 0 auto;
        }
    }

}